@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FBEAEB;
}

.tile-grid{
  transform: translate(75%, 15%);
  width: 40vw;
}
.num-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 8vw;
  height: 8vw;
}

.game-over, .game-active, .game-win{
  position: absolute;
  font-weight: bold;
  font-size: 4em;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.game-over{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(180 , 70, 50, 0.4);
}

.game-win{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240 , 220, 50, 0.5);
}

.game-active{
  display: none;
}